/*Structure*/
body{
    background: url(assignments/assignment02/images/bio-vs-comp-sci.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header p{
    font-style: italic;
}

h1{
    color: rgb(144, 67, 186);
}

h2{
    color: rgb(76, 45, 133);
}

#content header, footer, main{
    background: whitesmoke;
    border: 5px solid black;
    padding: 5px;
    margin: 100px auto;
    max-width: 1200px;
}

/*Main Layout*/
main ol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

main li{
    background-color: rgb(86, 41, 94);
    color: black;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    margin: 15px;
    text-align: center;
    box-shadow: 0 0 10px;
}

main li img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 6px;
  height: auto;
}

main li:hover{
    background-color: rgb(144, 67, 186);
}

main a:hover{
    text-decoration: none;
    background-color: rgb(144, 67, 186);
    color: white;
}

main a{
    text-decoration: none;
    color: rgb(194, 154, 214);
}

/*Phone*/
@media screen and (max-width: 600px) {
    main ol{
        flex-direction: column;
        align-items: center;
    }

    main li{
        width: 80%
    }
    
}

/*Typography*/
header h1, header h2, main h2, footer, li{
    text-align: center;
}